<div class="login-container">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" #emailCtrl="ngModel" required email>
      <mat-error *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)">
        <span *ngIf="emailCtrl.errors?.['required']">Email requis.</span>
        <span *ngIf="emailCtrl.errors?.['email']">Format d'email invalide.</span>
      </mat-error>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" #passwordCtrl="ngModel" required>
      <mat-error *ngIf="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)">
        <span *ngIf="passwordCtrl.errors?.['required']">Mot de passe requis.</span>
        <span *ngIf="passwordCtrl.errors?.['minlength']">
          Minimum {{ passwordCtrl.errors?.['minlength']?.requiredLength }} caractères.
        </span>
      </mat-error>
    </div>

    <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    <a class="noAccount" [routerLink]="['/register']" routerLinkActive="router-link-active">
      No account yet ?
    </a>
  </form>
</div>
