<mat-tab-group>
  <mat-tab label="Vue du jour">
    <app-kanban></app-kanban>
  </mat-tab>
  <mat-tab label="Calendrier">
    <app-calendar></app-calendar>
  </mat-tab>
  <mat-tab label="Utilisateurs">
    <app-crud-users></app-crud-users>
  </mat-tab>
   <mat-tab label="Plongeurs">
    <app-crud-divers></app-crud-divers>
  </mat-tab>
  <mat-tab label="Bateaux">
    <app-crud-boats></app-crud-boats>
  </mat-tab>
  <mat-tab label="Matériel">
    <app-crud-equipments></app-crud-equipments>
  </mat-tab>
</mat-tab-group>
