<div class="container">
    <h2>Création des palanquées</h2>

  <div class="container-dive-master">
    <h2>Choisir le moniteur</h2>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Moniteur</mat-label>
      <mat-select formControlName="diveMaster" required>
        <mat-option *ngFor="let diveMaster of diveMasters" [value]="diveMaster._id">
          {{ diveMaster.name }} - Niveau de plongée : {{diveMaster.divingLvl}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    @for (moniteur of moniteurs; track $index) {
      <div class="moniteur-card">
        <h3>{{ moniteur.name }}</h3>
        <p>Niveau de plongée : {{ moniteur.divingLvl }}</p>
        <button mat-raised-button color="primary" >
          Sélectionner
        </button>
      </div>
    }
  </div>

  <div class="container-teams">

  </div>
  <div class="container-divers">

  </div>

</div>
