.container-teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}


.selected-team{
    border: solid 2px aqua;
}

@media (max-width: 768px) {
  .my-flex-wrapper {
    display: flex;
    flex-direction: column;
  }
  .my-flex-wrapper > div:nth-child(2) {
    order: -1; /* passe en premier */
  }
}
