<nav class="navbar bg-blue-800 text-white px-6 py-4 flex justify-between items-center shadow-lg">
  <!-- Logo -->
  <a routerLink="/" class="flex items-center">
    <img src="../../assets/logo.png" alt="Site Logo" class="h-10 w-auto">
    <span class="ml-3 text-xl font-semibold">Mateleau</span>
  </a>

  <!-- Actions -->
  <div class="navbar-actions">
    <button (click)="logout()" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
      Logout
    </button>
  </div>
</nav>
